.settings {
  @apply flex h-full;

  .leftPanel {
    background-color: hsl(var(--setting-left-panel-bg));
    color: hsl(var(--setting-left-panel-fg));
  }

  .resizeHandler {
    @apply lg:block;
    position: relative;
    border-right: 1px solid hsl(var(--setting-left-panel-border));
  }

  .menuActive {
    @apply absolute inset-0 -left-3 h-full w-[calc(100%+24px)] rounded-md;
    background-color: hsl(var(--setting-left-panel-active-bg));
  }

  .listItem {
    @apply flex w-full items-start justify-between py-4;
    border-bottom: 1px solid hsl(var(--setting-list-item-border));
  }

  .listItemTitle {
    @apply font-bold capitalize;
    color: hsl(var(--setting-list-item-title, var(--app-wrapper-fg)));
  }

  .listItemWrapper {
    @apply w-full pr-6 md:mt-2 md:pr-10;
  }

  .listItemDescription {
    @apply mt-1 leading-relaxed;
    color: hsl(
      var(--setting-list-item-description, var(--app-wrapper-fg), 50%)
    );
  }
}
