:root {
  // Radius
  --radius-small: 4px;
  --radius-medium: 6px;
  --radius-large: 8px;

  // Token color
  --bg-base: 0, 0%, 0%; // black
  --fg-base: 0, 0%, 100%; // white

  --bg-primary: 221, 83%, 53%; // user primary color
  --bg-secondary: 240, 5%, 65%; //#a1a1aa
  --bg-destructive: 0, 72%, 51%; //#dc2626;
  --bg-success: 161, 94%, 30%; //#059669;
  --bg-warning: 45, 93%, 47%; //#eab308;
  --bg-info: 217, 91%, 60%; //#3b82f6

  --text-paragraph: 217, 19%, 27%;
}
