:root {
  // Radius
  --default-radius-small: 4px;
  --default-radius-medium: 6px;
  --default-radius-large: 8px;

  // Token color
  --default-bg-base: 0, 0%, 0%; // black
  --default-fg-base: 0, 0%, 100%; // white
}
