@import "../../styles/bases.scss";

.badge {
  @apply inline-flex items-center justify-center px-2 font-medium transition-all;

  // Primary
  &--primary {
    @apply text-white;
    background-color: hsl(var(--bg-primary));

    // Variant soft primary
    &.badge--soft {
      background-color: hsl(var(--bg-primary), 10%);
      color: hsl(var(--bg-primary));
    }

    // Variant outline primary
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-primary));
      color: hsl(var(--bg-primary));
    }
  }

  // Secondary
  &--secondary {
    background-color: hsl(var(--bg-secondary), 10%);

    // Variant outline secondary
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-secondary));
    }
  }

  // Destructive
  &--destructive {
    @apply text-white;
    background-color: hsl(var(--bg-destructive));

    // Variant soft destructive
    &.badge--soft {
      background-color: hsl(var(--bg-destructive), 10%);
      color: hsl(var(--bg-destructive));
    }

    // Variant outline destructive
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-destructive));
      color: hsl(var(--bg-destructive));
    }
  }

  // Success
  &--success {
    @apply text-white;
    background-color: hsl(var(--bg-success));

    // Variant soft success
    &.badge--soft {
      background-color: hsl(var(--bg-success), 10%);
      color: hsl(var(--bg-success));
    }

    // Variant outline success
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-success));
      color: hsl(var(--bg-success));
    }
  }

  // Warning
  &--warning {
    @apply text-white;
    background-color: hsl(var(--bg-warning));

    // Variant soft warning
    &.badge--soft {
      background-color: hsl(var(--bg-warning), 10%);
      color: hsl(var(--bg-warning));
    }

    // Variant outline warning
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-warning));
      color: hsl(var(--bg-warning));
    }
  }

  // Info
  &--info {
    @apply text-white;
    background-color: hsl(var(--bg-info));

    // Variant soft info
    &.badge--soft {
      background-color: hsl(var(--bg-info), 10%);
      color: hsl(var(--bg-info));
    }

    // Variant outline info
    &.badge--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--bg-info));
      color: hsl(var(--bg-info));
    }
  }

  // Size
  &--small {
    @apply h-5;
    border-radius: var(--radius-small);
  }

  &--medium {
    @apply h-6;
    border-radius: var(--radius-small);
  }

  &--large {
    @apply h-7;
    border-radius: var(--radius-small);
  }
}
